@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UnidadeMedidaModel
@{
    ViewData["title"] = "Excluir Unidade de Medida";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Excluir Unidade de Medida</h1>
    </div>

    <form method="post" asp-controller="UnidadeMedida" asp-action="Excluir">
        <input type="hidden" asp-formaction="Id" />
        <div class="form-group">
            <label for="Descricao" class="text-light">Descrição</label>
            <input type="text" class="form-control" asp-for="Descricao" disabled id="Descricao" placeholder="Qual é o tipo da Unidade de Medida?">
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>
        <div class="form-group">
            <label for="Abreviatura" class="text-light">Abreviatura</label>
            <input type="text" class="form-control" asp-for="Abreviatura" disabled id="Abreviatura" placeholder="Qual é a Abreviatura?">
            <span class="text-danger" asp-validation-for="Abreviatura"></span>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Enviar</button>
            <a class="btn btn-primary w-50" asp-controller="UnidadeMedida" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>
